<div class="pokemon-detail" *ngIf="pokemon">
  <button class="back-btn" (click)="goBack()">← Voltar</button>

  <h1>{{ pokemon.name | titlecase }}</h1>

  <img [src]="getSprite(pokemon)" [alt]="pokemon.name" />

  <div class="info">
    <p><strong>Altura:</strong> {{ pokemon.height / 10 }} m</p>
    <p><strong>Peso:</strong> {{ pokemon.weight / 10 }} kg</p>

    <p><strong>Tipos:</strong>
      <span *ngFor="let t of pokemon.types; let last = last">
        {{ t.type.name }}<span *ngIf="!last">, </span>
      </span>
    </p>

    <p><strong>Habilidades:</strong>
      <span *ngFor="let a of pokemon.abilities; let last = last">
        {{ a.ability.name }}<span *ngIf="!last">, </span>
      </span>
    </p>
  </div>
</div>


<!-- <div class="container mt-4" *ngIf="service.selectedPokemon() as p">
  <h3 class="text-capitalize">{{ p.name }}</h3>
  <img [src]="p.sprites.front_default" alt="{{ p.name }}" class="img-fluid" />
  <ul class="mt-3">
    <li *ngFor="let type of p.types">{{ type.type.name }}</li>
  </ul>
  <button class="btn btn-secondary mt-3" routerLink="/">Voltar</button>
</div> -->
