.pokemon-detail {
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.back-btn {
  background: #ef5350;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: 0.2s;
}

.back-btn:hover {
  background: #c62828;
}

img {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.info {
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


// img {
//   max-width: 200px;
//   display: block;
//   margin: 0 auto;
// }

// ul {
//   list-style: none;
//   padding: 0;
//   text-align: center;
// }

// li {
//   display: inline-block;
//   background: #eee;
//   padding: 5px 10px;
//   border-radius: 5px;
//   margin: 0 5px;
// }
