header{
    z-index: 999;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    max-width: 900px;
    height: 2rem;
    background: rgba(248, 249 ,250, 0.2);
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.pokemon-list-container {
  padding: 1rem 2rem;
  min-height: 100vh;
  background: #f8f9fa;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-header {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  .add-btn {
    background: #ef5350;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease;
    font-weight: 500;

    &:hover {
      background: #d32f2f;
    }
  }
}

.pokemon-grid {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1rem;
}

.pokemon-card {
  // background: white;
  // border-radius: 1rem;
  // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  // padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  img {
    width: 80px;
    height: 80px;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1rem;
    text-transform: capitalize;
  }
}

.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;

  .spinner {
    width: 32px;
    height: 32px;
    border: 3px solid #ddd;
    border-top: 3px solid #ef5350;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  p {
    margin-top: 0.5rem;
    color: #666;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.empty-state {
  text-align: center;
  margin-top: 3rem;
  color: #777;
}